<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
  integrity="sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=" crossorigin="anonymous" />

<link rel="stylesheet" href="../assets/dynamic_form.css">

</head>

<body>
  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = function () {
      if (MessengerExtensions) {
        MessengerExtensions.requestCloseBrowser();
      }
    };
  </script>
  <div class="container-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-7 col-sx-12 m-auto py-5">
          <div class="card form_card">
            <div class="card-body">
              <h3 class="card-title mb-0">Aufgabe abgeschlossen.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
